{% extends "base.html" %}

{% block title %}
{{ task.title }}
{% endblock %}


{% block content %}

<div class="page-header">

    <div>

        <h1>{{ task.title }}</h1>

        <p>
            Task details
        </p>

    </div>


    <div>

        <a
            href="{% url 'task_update' task.pk %}"
            class="btn-primary"
        >
            Edit
        </a>

        <a
            href="{% url 'task_delete' task.pk %}"
            class="btn-danger-link"
        >
            Delete
        </a>

    </div>

</div>


<div class="detail-card">

    <div class="detail-row">

        <strong>Status</strong>

        <span class="status {{ task.status }}">
            {{ task.get_status_display }}
        </span>

    </div>


    <div class="detail-row">

        <strong>Due Date</strong>

        <span>

            {% if task.due_date %}

                {{ task.due_date }}

            {% else %}

                No due date

            {% endif %}

        </span>

    </div>


    <div class="detail-section">

        <h3>Description</h3>

        <p>
            {{ task.description|linebreaks }}
        </p>

    </div>


    <div class="detail-section">

        <small>
            Created:
            {{ task.created_at }}
        </small>

        <br>

        <small>
            Updated:
            {{ task.updated_at }}
        </small>

    </div>

</div>

{% endblock %}